/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

body {
    background-color: #deb887;
    background-image: url("./diagmonds.png");
    justify-content: center;
    display: flex;
    padding-top: 30px;
}

h1 {
    align-self: center;
}

#calc-container {
    display: flex;
    flex-flow: column;
    width: 280px;
    background-color: #ffdebd;
    border: 1px solid black;
    border-radius: 4px;
    padding: 18px;
    text-align: center;
}

#fields {
    display: flex;
    flex-flow: column;
}

#fields > * {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}
